{% extends "search/base.html" %}
{% load static %}

{% block head %}
<title>ログイン</title>
<link href="{% static 'login/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

<br>
<h1>ログイン</h1>
<br>

<div class="cardGroup">
    <!-- 左側、ログインエリア -->
    <div class="card">
            <form action="{% url 'login:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <!-- An element to toggle between password visibility -->
                <input type="checkbox" onclick="mask_password()">Show Password
                <div><button class="button-wide">ログイン</button></div>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
    </div>

    <!-- 右側、会員登録エリア -->
    <div class="card">
        <!-- buttonをinline-blockからblockに変更するためにdivを付与。 -->
        <!-- buttonを縦に並べたい。 -->
        <div><button class="button-wide">
            <a href="{% url 'login:user_create' %}" >会員登録</a>
        </button></div>
        <div><button class="button-wide">
            <a href="{% url 'login:password_reset' %}" >パスワードを忘れた方</a>
        </button></div>
        <div><button class="button-wide">
            <a href="{% url 'login:email_login' %}" >メールアドレスでのログイン</a>
        </button></div>
    </div>
</div>

<p>
    <br>
    パスワードなしでログインしたい場合には「メールアドレスでのログイン」を行なってください。<br>
    この場合、ログインの度に認証メールにあるURLをクリック/タップする必要があります。<br><br>

    パスワードありでログインする場合にはログインの度に認証メールをクリック/タップする必要はありませんが、
    最初に「会員登録」を行う必要があります。<br><br>

    「フィードバック」「バグ報告・要望」「プライバシーポリシー」へのアクセスにもログインが必要です。<br><br>

    ログインできない場合は、<br>
    22801001@edu.cc.saga-u.ac.jp<br>
    小嶋 恒<br>
    までご連絡ください。
</p>

<script src="{% static 'login/js/mask_password.js' %}"></script>
{% endblock body %}