
.forecast a {
    display:block;
    text-decoration: none;
    color: white;
    background-color: green;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px 5px 5px 5px;
}

a:hover {
	background-color: black;
}

p {
    text-align: center;
}

button {
    font-weight: bold;
    color: white;
    background-color: green;
    margin: 5px auto;
    width: 400px;
    height: 40px;
}

.create {
    margin-top: 15px;
}

.cardGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.forecast {
    margin: 0;
    padding: 10px;
    background-color: #eee;
    width: 500px;
    text-align: center;
    height: 256px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px white;
}

form > input[type="text"] {
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    width:400px;
}

form > input[type="password"] {
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    width:400px;
}

form > input[type="checkbox"] {
    margin-top: 20px;
}

.form-group input[type="text"] {
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    width:400px;
}

.form-group input[type="email"] {
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    width:400px;
}

.form-group input[type="password"] {
    font-size: 100%;
    margin: 10px;
    padding: 10px;
    width:200px;
}

.blueButton {
    font-weight: bold;
    color: white;
    background-color: blue;
    margin: 5px auto;
    width: 100px;
    height: 40px;
}