# MySQL custom config
[mysqld]
# サーバ全体に適用される
character-set-server=utf8mb4
collation-server=utf8mb4_0900_as_cs
default-time-zone = '+00:00'  # UTC +0

# I don't know the functions I created affects MySQL replication.
# MySQL is used for only search, not for storing user data.
# Therefore, I think OK to set the parameter below.
log_bin_trust_function_creators = 1

[mysql]
default-character-set=utf8mb4

[mysqld_safe]
# エラーログの出力先
log-error=/var/log/mysql/error.log
