*{
    box-sizing: border-box; /* This makes sure that the padding and border are included in the total width and height of the elements. */
}

body{
    font-size: 100%; /* to work in all browsers, set a default font-size in percent for the <body> element */
    margin: 0;
    text-align: center;
}

footer{
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: aqua;
    bottom: 0;
}

#math-field{
    font-size: 170%;
    width: 50%;
}

#main_form > button{
    font-size: 120%;
}

#main_content{
    margin-bottom: 100px;  /* footerとかぶらないように */
}

.page{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.hl{
    background-color: gold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    body{
        /* background-color: papayawhip; */
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    body{
        /* background-color: deepskyblue; */
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    body{
        /* background-color: mediumspringgreen; */
    }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body{
        /* background-color: darkgoldenrod; */
    }
}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    body{
        /* background-color: violet; */
    }
}
