<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <link rel="shortcut icon" href="{% static 'search/images/favicon.png' %}">
    {% block head %}
    <title>Title</title>
    {% endblock head %}

    {% block analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBF3VF32MV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FBF3VF32MV');
    </script>
    {% endblock analytics %}
</head>
<body>
    <!-- navi -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'search:index' %}">twelS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li>
                <a class="nav-item nav-link" href="{% url 'login:logout' %}">ログアウト</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="{% url 'login:user' user.pk %}">ユーザーページ</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'login:login' %}">
                ようこそ、ゲスト！ログインはこちら
                </a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
    {% block body %}
        replace me.
    {% endblock body %}
    </div>

    <footer>
        <p><a href="{% url 'search:feedback' %}">フィードバック</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'search:report' %}">バグ報告・要望</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'search:privacy_policy' %}">プライバシーポリシー</a></p>
    </footer>
</body>
</html>