{% extends './base.html' %}

{% load static %}

{% block head %}
    <!-- 公開まで検索に引っかからないようにする -->
    <meta name="robots" content="noindex">

    <title>twelS</title>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script type="text/javascript" src="{% static 'search/js/uploadImage.js' %}"></script>
{% endblock head %}

{% block body %}
    <div id="main_content">
        <p id="mathCanvas">数式: <span id="canvas"></span></p>
        <p id="main_form">
            <input type="text" id="textMath" value="" oninput="inputChange()">
            <button onclick="submit()">検索</button>
            <button type="button" onclick="uploadImage()" id="camera">
                <img src="{% static 'search/images/camera-outline.png' %}" width="30px"
                style="filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);"/>
            </button>
            <!-- for camera (using mathpix) -->
            <form id="imageForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="uploadImage" accept="image/*" id="uploadImage" style="display: none">
            </form>

            <div class="tab-panel">
                <!--タブ-->
                <ul class="tab-group">
                    <li class="tab tab-A is-active">演算子など</li>
                    <li class="tab tab-B">ギリシャ文字</li>
                    <li class="tab tab-C">行列</li>
                    <li class="tab tab-D">その他</li>
                </ul>
                
                <!--タブを切り替えて表示するコンテンツ-->
                <div class="panel-group">
                    <div class="panel tab-A is-show">
                        <button class="buttonGroup" onclick="pushString('+')">\(+\)</button>
                        <button class="buttonGroup" onclick="pushString('-')">\(-\)</button>
                        <button class="buttonGroup" onclick="pushString('\\times ')">\(\times\)</button>
                        <button class="buttonGroup" onclick="pushString('\\div ')">\(\div\)</button>
                        <button class="buttonGroup" onclick="pushString('\\frac{x}{y}')">\(\frac{x}{y}\)</button>
                        <button class="buttonGroup" onclick="pushString('x^{n}')">\(x^{n}\)</button>
                        <button class="buttonGroup" onclick="pushString('x_{n}')">\(x_{n}\)</button>
                        <button class="buttonGroup" onclick="pushString('\\sqrt{x}')">\(\sqrt{x}\)</button>
                        <button class="buttonGroup" onclick="pushString('\\sqrt[n]{x}')">\(\sqrt[n]{x}\)</button>
                        <button class="buttonGroup" onclick="pushString('\\log_{y}{x}')">\(\log_{y}{x}\)</button>
                        <button class="buttonGroup" onclick="pushString('=')">\(=\)</button>
                        <button class="buttonGroup" onclick="pushString('\\lt ')">\(\lt\)</button>
                        <button class="buttonGroup" onclick="pushString('\\gt ')">\(\gt\)</button>
                        <button class="buttonGroup" onclick="pushString('\\ll ')">\(\ll\)</button>
                        <button class="buttonGroup" onclick="pushString('\\gg ')">\(\gg\)</button>
                        <button class="buttonGroup" onclick="pushString('\\leqq ')">\(\leqq\)</button>
                        <button class="buttonGroup" onclick="pushString('\\geqq ')">\(\geqq\)</button>
                        <button class="buttonGroup" onclick="pushString('\\wedge ')">\(\wedge\)</button>
                        <button class="buttonGroup" onclick="pushString('\\vee ')">\(\vee\)</button>
                        <button class="buttonGroup" onclick="pushString('\\cap ')">\(\cap\)</button>
                        <button class="buttonGroup" onclick="pushString('\\cup ')">\(\cup\)</button>
                    </div>
                    <div class="panel tab-B">
                        <button class="buttonGroup" onclick="pushString('\\alpha ')">\(\alpha\)</button>
                        <button class="buttonGroup" onclick="pushString('\\beta ')">\(\beta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\gamma ')">\(\gamma\)</button>
                        <button class="buttonGroup" onclick="pushString('\\delta ')">\(\delta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\epsilon ')">\(\epsilon\)</button>
                        <button class="buttonGroup" onclick="pushString('\\zeta ')">\(\zeta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\eta ')">\(\eta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\theta ')">\(\theta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\iota ')">\(\iota\)</button>
                        <button class="buttonGroup" onclick="pushString('\\kappa ')">\(\kappa\)</button>
                        <button class="buttonGroup" onclick="pushString('\\lambda ')">\(\lambda\)</button>
                        <button class="buttonGroup" onclick="pushString('\\mu ')">\(\mu\)</button>
                        <button class="buttonGroup" onclick="pushString('\\nu ')">\(\nu\)</button>
                        <button class="buttonGroup" onclick="pushString('\\xi ')">\(\xi\)</button>
                        <button class="buttonGroup" onclick="pushString('\\o ')">\(o\)</button>
                        <button class="buttonGroup" onclick="pushString('\\pi ')">\(\pi\)</button>
                        <button class="buttonGroup" onclick="pushString('\\rho ')">\(\rho\)</button>
                        <button class="buttonGroup" onclick="pushString('\\sigma ')">\(\sigma\)</button>
                        <button class="buttonGroup" onclick="pushString('\\tau ')">\(\tau\)</button>
                        <button class="buttonGroup" onclick="pushString('\\upsilon ')">\(\upsilon\)</button>
                        <button class="buttonGroup" onclick="pushString('\\phi ')">\(\phi\)</button>
                        <button class="buttonGroup" onclick="pushString('\\chi ')">\(\chi\)</button>
                        <button class="buttonGroup" onclick="pushString('\\psi ')">\(\psi\)</button>
                        <button class="buttonGroup" onclick="pushString('\\omega ')">\(\omega\)</button>
                    </div>
                    <div class="panel tab-C">
                        <button class="buttonGroup" onclick="pushString('\\begin{matrix} a & b \\\\ c & d \\\\ \\end{matrix}')">
                            \begin{matrix} a & b \\ c & d \\ \end{matrix}
                        </button>
                        <button class="buttonGroup" onclick="pushString('\\begin{pmatrix} a & b \\\\ c & d \\\\ \\end{pmatrix}')">
                            \begin{pmatrix} a & b \\ c & d \\ \end{pmatrix}
                        </button>
                        <button class="buttonGroup" onclick="pushString('\\begin{bmatrix} a & b \\\\ c & d \\\\ \\end{bmatrix}')">
                            \begin{bmatrix} a & b \\ c & d \\ \end{bmatrix}
                        </button>
                        <button class="buttonGroup" onclick="pushString('\\begin{vmatrix} a & b \\\\ c & d \\\\ \\end{vmatrix}')">
                            \begin{vmatrix} a & b \\ c & d \\ \end{vmatrix}
                        </button>
                    </div>
                    <div class="panel tab-D">
                        <button class="buttonGroup" onclick="pushString('\\infty ')">\(\infty\)</button>
                        <button class="buttonGroup" onclick="pushString('\\partial ')">\(\partial\)</button>
                        <button class="buttonGroup" onclick="pushString('\\nabla ')">\(\nabla\)</button>
                        <button class="buttonGroup" onclick="pushString('\\Delta ')">\(\Delta\)</button>
                        <button class="buttonGroup" onclick="pushString('\\ln{x}')">\(\ln{x}\)</button>
                        <button class="buttonGroup" onclick="pushString('\\int_{b}^{a} f(x) dx')">\(\int_{b}^{a} f(x) dx\)</button>
                        <button class="buttonGroup" onclick="pushString('\\lim_{n \\to \\infty}x_{n}')">\(\lim_{n \to \infty}x_{n}\)</button>
                        <button class="buttonGroup" onclick="pushString('f\\left(x\\right)')">\(f\left(x\right)\)</button>
                        <button class="buttonGroup" onclick="pushString('\\left| x \\right|')">\(\left| x \right|\)</button>
                        <button class="buttonGroup" onclick="pushString('\\sum_{i=1}^{n}x_{i}')">\(\sum_{i=1}^{n}x_{i}\)</button>
                        <button class="buttonGroup" onclick="pushString('\\prod_{i=1}^{n}x_{i}')">\(\prod_{i=1}^{n}x_{i}\)</button>
                    </div>
                </div>
            </div>

            <div id="lang">
                <p>検索対象の言語</p>
                <label><input type="checkbox" name="lr" value="ja" checked>日本語</label>
                &emsp;
                <label><input type="checkbox" name="lr" value="en">English</label>
            </div>
            
        </p>


        <!-- queryが有効なもののときのみ表示 -->
        {% if query %}
            <p>{{ query }}  の検索結果</p><br>
        {% endif %}

        {% for page in page_list %}
            <div class="page">
                <div class="fade"></div>
                <a href="{{ page.uri }}"><h3>{{ page.title }}</h3></a>
                <p>
                    {% autoescape off %}
                        {{ page.snippet }}
                    {% endautoescape %}
                </p><br>
            </div>
        {% endfor %}

        {% if query %}
            {% if page_list %}
                <div class="next_page">
                    <a href="./?q={{query}}&start={{start}}">更に表示</a>
                </div>
            {% else %}
                <p>検索結果は見つかりませんでした。</p>
            {% endif %}
        {% else %}
            <div class="news">
                <p>
                    数式の入力はTeXの記法に対応しています。<br>
                    数式の<a href="{% url 'search:input_example' %}">入力例</a><br>
                    <br>
                    ギリシャ文字を検索できるように修正しました。
                </p>
            </div>
        {% endif %}
    </div>

    <script>

    function getUrlParam(){
        var params = {};
        if (1 < window.location.search.length){
            // get string except first character: '?';
            var paramUrl = window.location.search.substring(1);

            var param_list = paramUrl.split('&');
            for (var i = 0; i < param_list.length; i++){
                var element = param_list[i].split('=');

                var paramName = decodeURIComponent(element[0]);
                var paramValue = decodeURIComponent(element[1]);

                // 連想配列の作成。
                // 同じparamが複数ある場合にはArrayで格納。
                if (params[paramName] == null){
                    params[paramName] = paramValue;
                } else if (Array.isArray(params[paramName])){
                    params[paramName].push(paramValue);
                } else {
                    // arrayに変換。
                    params[paramName] = [params[paramName], paramValue];
                }
            }
        }
        return params;
    }

    function submit(){
        var form = document.createElement('form');
        form.action = '.';
        form.method = 'GET';

        var q = document.createElement('input');
        const obj = document.getElementById("textMath");
        q.value = obj.value;
        q.name = 'q';
        q.type = 'hidden';
        form.appendChild(q);

        const lr = document.getElementById("lang");
        form.appendChild(lr)

        document.body.appendChild(form);

        form.submit();
    }

    const canvas = document.getElementById("canvas");

    window.onload = onLoad;

    document.addEventListener('DOMContentLoaded', function(){
        // タブに対してクリックイベントを適用
        const tabs = document.getElementsByClassName('tab');
        for(let i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener('click', tabSwitch, false);
        }

        // タブをクリックすると実行する関数
        function tabSwitch(){
            // タブのclassの値を変更
            document.getElementsByClassName('is-active')[0].classList.remove('is-active');
            this.classList.add('is-active');
            // コンテンツのclassの値を変更
            document.getElementsByClassName('is-show')[0].classList.remove('is-show');
            const arrayTabs = Array.prototype.slice.call(tabs);
            const index = arrayTabs.indexOf(this);
            document.getElementsByClassName('panel')[index].classList.add('is-show');
        };
    }, false);

    function onLoad() {
        var textMath = document.getElementById("textMath");
        textMath.focus();
        
        var params = getUrlParam();

        // 入力欄にqueryを反映
        {% autoescape off %}
        let ocr = '{{ ocr }}';
        {% endautoescape %}
        if (ocr !== '') {
            textMath.value = '';
            textMath.value = ocr;
        } else if (params['q'] != null) {
            textMath.value = params['q'];
        }
        inputChange();

        // 選択した言語を残す
        var param_lr = params['lr'];
        if (param_lr != null){
            var checkbox_lr = document.getElementsByName("lr");
            if (Array.isArray(param_lr)){
                for (var i = 0; i < checkbox_lr.length; i++){
                    checkbox_lr[i].checked = (param_lr.includes(checkbox_lr[i].value));
                }
            } else {
                for (var i = 0; i < checkbox_lr.length; i++){
                    checkbox_lr[i].checked = (param_lr == checkbox_lr[i].value);
                }
            }
        }
    }

    function inputChange(){

        const obj = document.getElementById("textMath");
        canvas.innerHTML = "\\(" + obj.value + "\\)";
        convertMath();
    }

    function convertMath(){
        MathJax.typeset([document.getElementById("canvas")]);
    }

    function pushString(){
        const obj = document.getElementById("textMath");

        const objString = obj.value.substr(0, obj.selectionStart)
			+ "2";
        
        const objCount = objString.length;

        obj.value = obj.value.substr(0, obj.selectionStart)
			+ "2"
			+ obj.value.substr(obj.selectionStart);

        obj.focus();
        obj.setSelectionRange(objCount, objCount);
        canvas.innerHTML = obj.value;
        convertMath();
    }

    function pushString(msg){
        const obj = document.getElementById("textMath");

        const objString = obj.value.substr(0, obj.selectionStart)
			+ msg;
        
        const objCount = objString.length;

        obj.value = obj.value.substr(0, obj.selectionStart)
			+ msg
			+ obj.value.substr(obj.selectionStart);

        obj.focus();
        obj.setSelectionRange(objCount, objCount);
        canvas.innerHTML = "\\(" + obj.value + "\\)";
        convertMath();
    }

    </script>
{% endblock body %}