{% extends './base.html' %}

{% load static %}

{% block head %}
    <title>数式の入力例</title>
{% endblock head %}

{% block body %}
<p>
    数式の入力例<br><br>

    (1)分数<br>
    <math xmlns="http://www.w3.org/1998/Math/MathML"  alttext="{\displaystyle {\frac {n}{d}}}">
        <semantics>
          <mrow class="MJX-TeXAtom-ORD">
            <mstyle displaystyle="true" scriptlevel="0">
              <mrow class="MJX-TeXAtom-ORD">
                <mfrac>
                  <mi>x</mi>
                  <mi>y</mi>
                </mfrac>
              </mrow>
            </mstyle>
          </mrow>
          <annotation encoding="application/x-tex">{\displaystyle {\frac {n}{d}},\quad n/d,\quad d{\backslash }n}</annotation>
        </semantics>
    </math>

    <br><br>
    \frac{x}{y}
    <br><br><br><br>

    (2)上付き文字<br>
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <semantics>
            <mrow>
                <mi>E</mi>
                <mo>=</mo>
                <mi>m</mi>
                <msup>
                    <mi>c</mi>
                    <mn>2</mn>
                </msup>
            </mrow>
            <annotation encoding="application/x-tex">E =mc^2</annotation>
        </semantics>
    </math>

    <br><br>
    E=mc^{2}
    <br><br><br><br>

    (3)行列式<br>
    <math display="block" xmlns="http://www.w3.org/1998/Math/MathML"  alttext="{\displaystyle {\begin{vmatrix}a&amp;b\\c&amp;d\end{vmatrix}}}">
        <semantics>
            <mrow class="MJX-TeXAtom-ORD">
                <mstyle displaystyle="true" scriptlevel="0">
                <mrow class="MJX-TeXAtom-ORD">
                    <mrow>
                        <mo>|</mo>
                        <mtable rowspacing="4pt" columnspacing="1em">
                            <mtr>
                            <mtd>
                                <mi>a</mi>
                            </mtd>
                            <mtd>
                                <mi>b</mi>
                            </mtd>
                            </mtr>
                            <mtr>
                            <mtd>
                                <mi>c</mi>
                            </mtd>
                            <mtd>
                                <mi>d</mi>
                            </mtd>
                            </mtr>
                        </mtable>
                        <mo>|</mo>
                    </mrow>
                </mrow>
                </mstyle>
            </mrow>
            <annotation encoding="application/x-tex">{\displaystyle {\begin{vmatrix}a&amp;b\\c&amp;d\end{vmatrix}}}</annotation>
        </semantics>
    </math>

    <br><br>
    \begin{vmatrix}<br>
    a & b \\<br>
    c & d \\<br>
    \end{vmatrix}<br>
    <br><br><br><br>

</p>


{% endblock body %}