{% extends './base.html' %}

{% load static %}

{% block head %}
    <title>バグ報告・要望</title>
{% endblock head %}

{% block body %}
<h2>バグ報告・要望のページ</h2>
<br><br>

<style>
    p, li{
        text-align: left;
    }
</style>

<h3>既にいただいている主な要望など</h3>
<br>

<p>
    <strong>カメラで数式を読み取りできるようにしてください。</strong><br>
    →すぐには実装できませんが、対応予定です。
</p>
<br>

<p>
    <strong>アインシュタイン方程式、シュレディンガー方程式、マクスウェル方程式、ラグランジュ方程式など、
    うまく検索できない数式があります。</strong><br>
    →数式を検索できない原因は主に2つあります。<br>
    （1）数式検索エンジンtwelSのバグが原因で検索できない。
        今回はこちらの理由だと思うので、できるだけ早く対応します。<br>
    （2）数式検索エンジンtwelSの検索対象のページの中にその数式が含まれていない。<br>
    現在、数式検索エンジンtwelSで検索できるページは、
</p>
<ul>
    <li>日本語のWikipediaの数学、物理学、経済学</li>
    <li><a href="https://manabitimes.jp/math">高校数学の美しい物語</a></li>
    <li><a href="https://manabitimes.jp/physics">高校生から味わう理論物理入門</a></li>
</ul>
<p>
    の中の数式を含むページのみです。ここに含まれていないページの数式を検索することは現在できません。<br>

    英語のページも検索対象に含めたいのですが、今回は余裕がなかったので日本語のページだけに対応しました。検索対象は今後も増やす予定です。<br><br>

    数式の表現方法にはいくつかあるのですが、
</p>
<ul>
    <li>MathML</li>
    <li>KaTeX（MathMLを出力するもの）</li>
</ul>
<p>
    には現在対応できているので、数式をこれらの方法で書かれたページは検索できます。<br>
    MathJaxで書かれたページには現在対応できていませんが、対応予定です。<br>
    数式を画像で表現しているページやその他の方法で表現しているページを検索対象にすることは現時点では難しいと考えています。<br><br>

    検索対象（コンテンツ）が不足していることは現在抱えている問題の1つです。<br>
    いくら検索精度が良くなっても検索対象となるページ数が少なかったら結局役に立たないからです。<br>
 
    この問題を解決するために、例えば論文や参考書なども検索対象に加えたいと考えていますが、
    特に参考書などは普通有料なので、どうしようかと悩んでいます。
</p>
<br>

<p>
    <strong>入力方法のガイドがあった方が良いと思います。</strong><br>
    →数は少ないですが、<a href="{% url 'search:input_example' %}">入力例</a>を用意しました。<br>
    今後、このページを充実させていく、もしくは直感的に分かる入力方法にする等修正していきたいと思います。
</p>
<br>

<p>
    <strong>行列式も検索したいです。</strong><br>
    →数式のキーボードは対応できていません。検索自体は可能でしたが現在は検索できなくなっています。
    検索できるように修正します。<br><br>

    <a href="{% url 'search:input_example' %}">入力例</a>でも出していますが、<br><br>

    \begin{vmatrix}<br>
    a & b \\<br>
    c & d \\<br>
    \end{vmatrix}<br><br>

    上記の式を数式検索エンジンtwelSの入力欄にコピー&ペーストすると行列式を検索できるはずでしたが、
    検索できなくなっています。検索できるように修正します。<br>
    数式のキーボードを用意していますが、行列や行列式は比較的複雑なため、まだ用意できていません。<br>
    今後、行列や行列式などにも対応するつもりではありますが、数式検索エンジンのほとんどを私1人で開発しているため、
    開発スピードが足りておらず、対応完了までには時間がかかるおそれがあります。<br><br>
</p>

<p>
    要望を出してくださったみなさん、本当にありがとうございました。大変助かっています。<br>
    上に既に書かれていることでも「私もこの機能が欲しい」等言っていただければ実装の優先順位が変わる可能性があるので、
    ぜひ教えてください。<br>
    上に書かれていないことで何かある場合には、今後の開発のために、バグ報告・要望・その他意見等をいただけると大変助かります。
    どうぞよろしくお願いいたします。
</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdbejegda2RxdNXDc1ItEmL_5ysnZZ5Bvyrb47aN1OomTqiHQ/viewform?embedded=true" width="640" height="1153" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
{% endblock body %}